<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= setupData.name %> ||  Portal </title>

    <% if (setupData && setupData.logo == "" || setupData.logo == undefined) { %>
        <link rel="icon" type="image/x-icon" href="assets/img/afrobuild.png" />
    <% } else { %>
        <link rel="icon" type="image/x-icon" href="uploads/<%= setupData.logo %>" />
    <% } %>

    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link id="afrobuild_external_stylesheet" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet1" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet2" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet3" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet4" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet5" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet6" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet7" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet8" href="" rel="stylesheet" type="text/css" />
    <link id="afrobuild_external_stylesheet9" href="" rel="stylesheet" type="text/css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="assets/css/mDatatable.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/custom-style.css" rel="stylesheet">
</head>
<body id="afrobuild_main_body"></body>