<div class="footer-wrapper" style="position: sticky; bottom: 0; background-color: #f1f2f3;">
    <div class="footer-section f-section-1">
        <p class="">
            Copyright © <span class="logig_copyright_year"></span> 
            <a target="_blank" href="#"> <%= setupData.name != undefined ? setupData.name : 'Ovasyte' %> </a>
        </p>
    </div>
    <div class="footer-section f-section-2">
        <p class=""> 
            <a href="https://logig.tech"> 
                <img src="assets/img/logig.png" alt="logo" style="width: 1.3em;">
                <span class="mt-2">LoGig</span>
            </a>
        </p>
    </div>
</div>