<!-- Sidebar -->
<nav class="sidebar" aria-label="Main Sidebar Navigation">
    <div class="logo">LOGO</div>

    <div class="sidebar-section">DAILY OPERATION</div>
    <ul class="nav-menu" id="navbar_overall_parent">
        <li class="menu nav-item afrobuild_sidebar_nav_parent_dashboard">
            <a href="/dashboard" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="dashboard" data-scripts="single::app/dashboardAjax">
                <img src="/assets/img/Dashboard.svg" alt="">
                &nbsp;&nbsp;Dashboard
            </a>
        </li>
        
        <% if (privilege.afrobuild?.add_user === "yes" || privilege.afrobuild?.update_user === "yes" || privilege.afrobuild?.deactivate_user === "yes") { %>
            <li class="menu nav-item">
                <a href="/user" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/userAjax">
                    <img src="/assets/img/Manage accounts.svg" alt="">
                    &nbsp;&nbsp;Manage Users
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_product === "yes" || privilege.afrobuild?.update_product === "yes" || privilege.afrobuild?.deactivate_product === "yes") { %>
            <li class="menu nav-item">
                <a href="/product" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/productAjax">
                    <img src="/assets/img/Folder managed.svg" alt="">
                    &nbsp;&nbsp;Manage Products
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_role === "yes" || privilege.afrobuild?.update_role === "yes" || privilege.afrobuild?.deactivate_role === "yes") { %>
            <li class="menu nav-item">
                <a href="/role" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/roleAjax">
                    <img src="/assets/img/role_img.png" alt="">
                    &nbsp;&nbsp;Manage Role
                </a>
            </li>
        <% } %>
    </ul>

    <a href="#" class="support-link">
        <img src="/assets/img/Support agent.svg" alt="">
        &nbsp;&nbsp;Support
    </a>

    <div class="user-profile">
        <i class="fas fa-user"></i>
        <div>
            <div class="user-info">
                <% if (userData.first_name || userData.last_name) { %>
                    <%= [userData.first_name, userData.last_name].filter(Boolean).map(n => n.charAt(0).toUpperCase() + n.slice(1)).join(' ') %>
                <% } else { %>
                    &nbsp;
                <% } %>
            </div>
            <div class="user-role">Admin</div>
        </div>
    </div>

    <!-- Logout Button Styled as Menu Item -->
    <div class="logout-section">
        <a href="#" class="nav-link logout-link afrobuild_logout_btn">
            <img src="/assets/img/logout.svg" alt="">
            &nbsp;&nbsp;Logout
        </a>
    </div>
</nav>
