<!-- Sidebar -->
<div class="sidebar">
    <div class="logo">LOGO</div>

    <div class="sidebar-section">DAILY OPERATION</div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="#" class="nav-link active">
                <img src="/assets/img/Dashboard.svg" alt="">
                &nbsp;&nbsp;Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img src="/assets/img/Manage accounts.svg" alt="">
                &nbsp;&nbsp;Manage Users
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <img src="/assets/img/Folder managed.svg" alt="">
                &nbsp;&nbsp;Manage Products
            </a>
        </li>
    </ul>

    <a href="#" class="support-link">
        <img src="/assets/img/Support agent.svg" alt="">
        &nbsp;&nbsp;Support
    </a>

    <div class="user-profile">
        <i class="fas fa-user"></i>
        <div>
            <div class="user-info">
                <% if (userData.first_name || userData.last_name) { %>
                    <%= [userData.first_name, userData.last_name].filter(Boolean).join(' ').toUcwords() %>
                <% } else { %>
                    &nbsp;
                <% } %>
            </div>
            <div class="user-role">Admin</div>
        </div>
    </div>


    <!-- Logout Button Styled as Menu Item -->
    <div class="logout-section">
        <a href="#" class="nav-link logout-link afrobuild_logout_btn">
            <img src="/assets/img/logout.svg" alt="">
            &nbsp;&nbsp;Logout
        </a>

    </div>

</div>