<!-- Sidebar -->
<nav class="sidebar" aria-label="Main Sidebar Navigation">
    <img src="assets/img/logo.svg" alt="Logo" class="sidebar-logo" >

    <div class="sidebar-section">DAILY OPERATION</div>
    <ul class="nav-menu" id="navbar_overall_parent">
        <li class="menu nav-item afrobuild_sidebar_nav_parent_dashboard">
            <a href="/dashboard" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="dashboard" data-scripts="single::app/dashboardAjax">
                <img src="/assets/img/Dashboard.svg" alt="">
                &nbsp;&nbsp;Dashboard
            </a>
        </li>
        
        <% if (privilege.afrobuild?.add_user === "yes" || privilege.afrobuild?.update_user === "yes" || privilege.afrobuild?.deactivate_user === "yes") { %>
            <li class="menu nav-item">
                <a href="/user" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/userAjax">
                    <img src="/assets/img/Manage accounts.svg" alt="">
                    &nbsp;&nbsp;Manage Users
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_category === "yes" || privilege.afrobuild?.update_category === "yes" || privilege.afrobuild?.deactivate_category === "yes") { %>
            <li class="menu nav-item">
                <a href="/category" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/merchantAjax">
                    <img src="/assets/img/category.png" alt="">
                    &nbsp;&nbsp;Manage Categories
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_product === "yes" || privilege.afrobuild?.update_product === "yes" || privilege.afrobuild?.deactivate_product === "yes") { %>
            <li class="menu nav-item">
                <a href="/product" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/productAjax">
                    <img src="/assets/img/Folder managed.svg" alt="">
                    &nbsp;&nbsp;Manage Products
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_role === "yes" || privilege.afrobuild?.update_role === "yes" || privilege.afrobuild?.deactivate_role === "yes") { %>
            <li class="menu nav-item">
                <a href="/role" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/roleAjax">
                    <img src="/assets/img/role_img.png" alt="">
                    &nbsp;&nbsp;Manage Role
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_service === "yes" || privilege.afrobuild?.update_service === "yes" || privilege.afrobuild?.deactivate_service === "yes") { %>
            <li class="menu nav-item">
                <a href="/service" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/serviceAjax">
                    <img src="/assets/img/service.png" alt="">
                    &nbsp;&nbsp;Manage Services
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_vendor === "yes" || privilege.afrobuild?.update_vendor === "yes" || privilege.afrobuild?.deactivate_vendor === "yes") { %>
            <li class="menu nav-item">
                <a href="/vendor" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/vendorAjax">
                    <img src="/assets/img/vendor.png" alt="">
                    &nbsp;&nbsp;Manage Vendors
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_merchant === "yes" || privilege.afrobuild?.update_merchant === "yes" || privilege.afrobuild?.deactivate_merchant === "yes") { %>
            <li class="menu nav-item">
                <a href="/merchant" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/merchantAjax">
                    <img src="/assets/img/merchant.png" alt="">
                    &nbsp;&nbsp;Manage Merchants
                </a>
            </li>
        <% } %>

        <% if (privilege.afrobuild?.add_privilege === "yes" ) { %>
            <li class="menu nav-item">
                <a href="/privilege" data-appname="afrobuild" class="nav-link afrobuild_main_navigation_btn" data-navparent="afrobuildnavbar" data-scripts="single::app/privilegeAjax">
                    <img src="/assets/img/privilege.png" alt="">
                    &nbsp;&nbsp;Manage Privileges
                </a>
            </li>
        <% } %>


        <!-- Afrobuild Dropdown -->
        <% if (privilege.afrobuild?.func_admin === "yes") { %>
            <li class="menu afrobuild_sidebar_nav_parent">
                <a class="nav-link d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse"
                    href="#afrobuildnavbar"
                    role="button"
                    aria-expanded="false"
                    aria-controls="afrobuildnavbar">
                    <span>
                        <img src="/assets/img/report.png" alt="">
                        &nbsp;&nbsp;Reports
                    </span>
                    <svg class="feather feather-chevron-right" width="24" height="24">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </a>

                <ul class="collapse list-unstyled ps-3" id="afrobuildnavbar" data-bs-parent="#navbar_overall_parent">
                    
                    <% if (privilege.afrobuild?.view_transaction_report === "yes") { %>
                        <li>
                            <a href="/transaction_report" class="nav-link afrobuild_main_navigation_btn"
                                data-appname="afrobuild" data-scripts="single::afrobuild/transactionReportAjax">
                                Transaction Report
                            </a>
                        </li>
                    <% } %>

                    <% if (privilege.afrobuild?.view_product_report === "yes") { %>
                        <li>
                            <a href="/product_report" class="nav-link afrobuild_main_navigation_btn"
                                data-appname="afrobuild" data-scripts="single::afrobuild/productReportAjax">
                                Product Report
                            </a>
                        </li>
                    <% } %>

                    <% if (privilege.afrobuild?.view_category_report === "yes") { %>
                        <li>
                            <a href="/category_report" class="nav-link afrobuild_main_navigation_btn"
                                data-appname="afrobuild" data-scripts="single::afrobuild/categoryReportAjax">
                                Category Report
                            </a>
                        </li>
                    <% } %>

                    <% if (privilege.afrobuild?.view_merchant_report === "yes") { %>
                        <li>
                            <a href="/merchant_report" class="nav-link afrobuild_main_navigation_btn"
                                data-appname="afrobuild" data-scripts="single::afrobuild/merchantReportAjax">
                                Merchant Report
                            </a>
                        </li>
                    <% } %>

                    <% if (privilege.afrobuild?.view_vendor_report === "yes") { %>
                        <li>
                            <a href="/vendor_report" class="nav-link afrobuild_main_navigation_btn"
                                data-appname="afrobuild" data-scripts="single::afrobuild/vendorReportAjax">
                                Vendor Report
                            </a>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>

    </ul>

    <a href="#" class="support-link">
        <img src="/assets/img/Support agent.svg" alt="">
        &nbsp;&nbsp;Support
    </a>

    <div class="user-profile">
        <i class="fas fa-user"></i>
        <div>
            <div class="user-info">
                <% if (userData.first_name || userData.last_name) { %>
                    <%= [userData.first_name, userData.last_name].filter(Boolean).map(n => n.charAt(0).toUpperCase() + n.slice(1)).join(' ') %>
                <% } else { %>
                    &nbsp;
                <% } %>
            </div>
            <div class="user-role">Admin</div>
        </div>
    </div>

    <!-- Logout Button Styled as Menu Item -->
    <div class="logout-section">
        <a href="#" class="nav-link logout-link afrobuild_logout_btn">
            <img src="/assets/img/logout.svg" alt="">
            &nbsp;&nbsp;Logout
        </a>
    </div>
</nav>
